.day {
  font-weight: bold;
  font-size: 3rem;
}

.timeList {
  display: block;
}

.timeSlot {
  background: none;
  box-shadow: none;
  border: 1px solid #ebebeb;
  color: white;
  height: 40px;
  margin: 5px auto;
  box-sizing: border-box;
  cursor: pointer;

}

.timeSlot:hover {
  background: white;
  color: black;
}
